.todoItem {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 20px 0;
    width: 70%;
    border-bottom: 1px solid #cecece;
    font-family: Roboto, sans-serif;
    font-weight: 100;
    font-size: 15px;
    color: #333333;

    input[type=checkbox] {
        margin-right: 10px;
        font-size: 30px;
    }

    input[type=checkbox]:checked {
        opacity : .50;
        + label {
            opacity : .50;
            text-decoration: line-through;
            font-style: italic;
        }
    }
}